@import 'mixins';

body { background-color: black; }

@size: 74px;
@width: 814px;
@height: 600px;

#screen {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  width: @width;
  height: @height;
  margin-top: -@height / 2;
  margin-left: -@width / 2;
  outline: 0;
  background-color: black;
  .perspective(440px);
}

#container, #stage, #horizon {
  .transform-style(preserve-3d);
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: @size / 2;
  margin-left: -(@size * 11) / 2;
  .transform(rotateX(90deg));
  .transform-origin(100% 0);
}

#horizon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: @size;
  background-color: black;
  .transform(rotateX(90deg));
  .transform-origin(100% 0);
}

#stage {
  width: @size * 11;
  height: @size * 11;

  &.transition { .transition(all 500ms ease); }
}

.tile {
  display: inline-block;
  position: relative;
  width: @size;
  height: @size;
  vertical-align: top;
  .transform-style(preserve-3d);
}

.tile__side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../i/tile.png');

  &.tile__side_type_front {
    .transform-origin(0 0);
    .transform(rotateX(90deg) rotateY(180deg) translateX(-@size) translateY(@size) scaleY(-1));
  }

  &.tile__side_type_right {
    .transform-origin(100% 100%);
    .transform(rotateY(90deg) translateY(-@size) scaleY(-1));
  }

  &.tile__side_type_left {
    .transform-origin(0 100%);
    .transform(rotateY(90deg) translateX(-@size));
  }

  &.tile__side_type_back {
    .transform-origin(100% 0);
    .transform(rotateX(90deg) translateY(@size) translateZ(-@size) scaleY(-1));
  }

  &.tile__side_type_ceil {
    .transform-origin(100% 0);
    .transform(translateZ(@size));
  }
}